<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="scheduletitle" style="text-align:center;">Weekly Schedule</h4>
      </div>
      <div class="modal-body">
          
            <% @current_courses = (current_user).current_courses %>          
            <% responses = Array.new(@current_courses.length) %>
            <% days = Array.new(@current_courses.length) %>
            <% s_times = Array.new(@current_courses.length) %>
            <% e_times = Array.new(@current_courses.length) %>
            <% events = Array.new(5) %>
            <% events.each_with_index do |event,i| %>
                <% event = Array.new() %>
                <% events[i] = event %>
            <% end %>
            <% had_c = false %>
            <% has_occ = [false, false, false, false, false] %>
            <% curr_c = ["","","","",""] %>
            <% if !@current_courses[0].blank? %>
            	<% @current_courses.each_with_index do |curr, i| %>
            		<% for j in 0..5 %> 
            			<% responses[i] = HTTParty.get("http://www.sfu.ca/bin/wcm/course-outlines?#{curr.split(" ")[0]}/#{curr.split(" ")[1]}/#{curr.split(" ")[2..3].join("/")}/#{curr.split(" ")[4]}") %>
            			<% if responses[i].code == 200 %> <!-- Won't have error message -->
            				<% break %>
            			<% elsif responses[i].code == 200 && !responses[i].has_key?('errorMessage') %> <!-- Just one result, but not an error -->
            				<% break %>
            			<% end %>
            		<% end %>
            		<% days[i] = Array.new(responses[i]["courseSchedule"].length) %>
            		<% s_times[i] = Array.new(responses[i]["courseSchedule"].length) %>
            		<% e_times[i] = Array.new(responses[i]["courseSchedule"].length) %>
            		<% days[i].each_with_index do |day, j| %>
            			<% day = responses[i]["courseSchedule"][j]["days"].split(", ") %>
            			<% day.each_with_index do |w_day, k| %>
            				<% w_set = case w_day %>
            				<% when "Mo" %> 
            					<% 1 %>
            				<% when "Tu" %>
            					<% 2 %>
            				<% when "We" %>
            					<% 3 %>
            				<% when "Th" %>
            					<% 4 %>
            				<% when "Fr" %>
            					<% 5 %>
            				<% end %>
            				<% day[k] = w_set %>
            			<% end %>
            			<% days[i][j] = day %>
            			<% s_times[i][j]= responses[i]["courseSchedule"][j]["startTime"] %>
            			<% e_times[i][j]= responses[i]["courseSchedule"][j]["endTime"] %>
            		<% end %>
            	
            	<% end %>
            <% end %>
            <% if !days[0].blank? %>
                <% @current_courses.each_with_index do |curr, j| %>
            		<% for k in 1..5 %>
            			<% days[j].each_with_index do |day,l| %>
            				<% day.each do |wday| %>
            					<% same_day = false %>
            					<% if wday == k %>
            						<% same_day = true %>
            						<% events[k-1].push("#{j}, #{l}") %> 
            					<% end %>
            				<% end %>
            			<% end %>
            		<% end %>
            	<% end %>
            	<table class="center">
            		<tr>
            			<th class="sched">Time</th>
            			<th class="schedlrg">Monday</th>
            			<th class="schedlrg">Tuesday</th>
            			<th class="schedlrg">Wednesday</th>
            			<th class="schedlrg">Thursday</th>
            			<th class="schedlrg">Friday</th>
            		</tr>
            		<% for i in 16..48 %>
            		<tr>
            			<td class="sched">
            				<% if i%2 == 0 %>
            			        <% if i >= 26 %>
                	                <%= ((i/2)-12).to_s + ":00" %>
            				    <% else %>
            						<%= (i/2).to_s + ":00" %>
            					<% end %>
            				<% else %>
            					<% if i >= 26 %> 
            						<%= ((i/2)-12).to_s + ":30" %>
            					<% else %>
            						<%= (i/2).to_s + ":30" %>
            					<% end %>	
            				<% end %>
            			</td>
            			<% for k in 1..5 %>
            			    <% if events[k-1].blank? %>
            			        <td class="schedlrg"> </td>
            			    <% else %>
                	            <% events[k-1].each do |course|%>
                	                <% had_c = false %>
                	                <% c_split = course.split(", ") %>
                			        <% if i%2 != 0%>
                			            <% if s_times[c_split[0].to_i][c_split[1].to_i] == ((i/2).to_s+ ":30")%>
                                            <td class="schedlrg bg-success"><%= @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %></td>
                                            <% had_c = true %>
                                            <% curr_c[k-1] = @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %>
                                            <% has_occ[k-1] = true %>
                                            <% break %>
                                        <% end %>
                                        <% if (((e_times[c_split[0].to_i][c_split[1].to_i].split(":")[0].to_i)) > (i/2)) && has_occ[k-1] && curr_c[k-1] == @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %>
                                             <td class="schedlrg bg-success"><%= @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %></td>
                                             <% had_c = true %>
                                             <% break %>
                                        <% end %>
                                    <% end %>
                                    <% if i%2 == 0 %>
                                        <% if (((e_times[c_split[0].to_i][c_split[1].to_i].split(":")[0].to_i)) > (i/2)) && has_occ[k-1] && curr_c[k-1] == @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %>
                                             <td class="schedlrg bg-success"><%= @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %></td>
                                             <% had_c = true %>
                                             <% break %>
                                        <% end %>
                                        <% if has_occ[k-1] && (((e_times[c_split[0].to_i][c_split[1].to_i].split(":")[0].to_i)) == (i/2)) && curr_c[k-1] == @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %>
                                            <td class="schedlrg bg-success"><%= @current_courses[c_split[0].to_i].split(" ")[2..4].join(" ").upcase %></td>
                                            <% had_c = true %>
                                            <% curr_c[k-1] = "" %>
                                            <% has_occ[k-1] = false %>
                                            <% break %>
                                        <% end %>
                                
                                    <% end %>
                			    <% end %>
                			    <% if !had_c %>
                                    <td class="schedlrg"></td>
                                <% end %>
                	        <% end %>
                        <% end %>
            		</tr>
            		<% end %>
            	</table>
            <% else %>
                <table class="center">
            		<tr>
            			<th class="sched">Time</th>
            			<th class="sched">Monday</th>
            			<th class="sched">Tuesday</th>
            			<th class="sched">Wednesday</th>
            			<th class="sched">Thursday</th>
            			<th class="sched">Friday</th>
            		</tr>
            		<% for i in 16..48 %>
            		<tr>
            			<td class="sched">
            				<% if i%2 == 0 %>
            				  <% if i >= 26 %>
            						<%= ((i/2)-12).to_s + ":00" %>
            					<% else %>
            						<%= (i/2).to_s + ":00" %>
            					<% end %>
            				<% else %>
            					<% if i >= 26 %> 
            						<%= ((i/2)-12).to_s + ":30" %>
            					<% else %>
            						<%= (i/2).to_s + ":30" %>
            					<% end %>	
            				<% end %>
            			</td>
            			<td class="schedlrg"> </td>
            			<td class="schedlrg"> </td>
            			<td class="schedlrg"> </td>
            			<td class="schedlrg"> </td>
            			<td class="schedlrg"> </td>
            		</tr>
            		<% end %>
            	</table>
            <% end %>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

       
          
          















