<head></head>
<div class="content row">
	<div class="col-lg-12">
		<header class = "clearfix">
			<section id="branding">
				<%= link_to('Skeggie', home_path)%>
			</section><!-- branding -->

			<section class="navbar">
				<ul class="nav navbar-nav">
				    <li><%= link_to('Home', home_path)%></li>
                    <li class = "dropdown">
                    	<a href="#" class = "dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></a>
                    	<ul class="dropdown-menu" role="menu" aria-labelledby="ddMenu">
                    		<li><%= link_to('Courses',search_path, :tabindex => "-1") %></li>
                    		<li><%= link_to('Users',p_search_path, :tabindex => "-1") %></li>
                    	</ul><!--dropdown menu-->
                    </li>
                    
				    <% if logged_in? %>
    				    <li><%= link_to('Profile', profile_path(current_user.username))%></li>
    			    	<li><%= link_to('My Schedule', schedule_path(current_user.username)) %></li>
    			    	<li><%= link_to('Cart', cart_path, "data-toggle" => "popover", :title => "Course Cart", "data-content" => "Empty Cart", "data-placement" => "bottom") %></li>
    					<li><%= link_to('Log out', logout_path, method: :delete) %></li>
    					<li><%= render "components/calendar" %></li>
    				<% else %>
    				    <li><%= link_to('Login', login_path) %></li>
    				<% end %>
                    <%= render "components/quicksearch" %>
                    
				</ul><!-- nav -->
			</section><!-- navbar -->

		</header><!-- header -->
	</div><!-- column -->
</div><!-- content -->