<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class='container'>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
 			 </button>
 			 <a class='navbar-brand'><%= link_to('Skeggie', home_path)%></a>
 		</div>
 		
 		<div class='collapse navbar-collapse' id='myNavbar'>
			<ul class="nav navbar-nav">
			    <li><%= link_to('Home', home_path)%></li>
                <li class = "dropdown">
                	<a href="#" class = "dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                	<ul class="dropdown-menu">
                		<li><%= link_to('Courses',search_path, :tabindex => "-1") %></li>
                		<li><%= link_to('Users',p_search_path, :tabindex => "-1") %></li>
                	</ul><!--dropdown menu-->
                </li>
                <li class="dropdown">
                	<a href="#" class = "dropdown-toggle" data-toggle="dropdown">Catalogue <b class="caret"></b></a>
                	<ul class="dropdown-menu">
                		<li>
                		<% letters = ('a'..'z').to_a %>
					    <% letters.each do |let| %>
					        <%= link_to("#{let.upcase}", catalogue_path(let), :tabindex => "-1") %>
					    <% end %>
					    </li>
                	</ul>
                </li>
                
			    <% if logged_in? %>
				    <li><%= link_to('Profile', profile_path(current_user.username))%></li>
			    	<li><//%= link_to('My Schedule', schedule_path(current_user.username)) %></li>
			    	<li><%= link_to('Cart', cart_path) %></li>
			    	<li><a href="#" class="glyphicon glyphicon-shopping-cart" data-toggle="popover" title="Course Cart" data-placement="bottom" data-content='<% current_user.current_courses.each do |val|%> 
			    	<% if current_user.current_courses.count >= 1 && current_user.current_courses[0] != ""%>
			    		<%= "<li>#{val.split(' ')[0..1].join(' ')} #{val.split(' ')[2].upcase} #{val.split(' ')[3..-1].join(' ')}</li>"%> 
			    		<% end %>
			    		<% end %>'></a></li>
			    	
					<li><%= link_to('Log out', logout_path, method: :delete) %></li>
					
					<!--<li><//%= render "components/calendar" %></li>-->
					
				<% else %>
				    <li><%= link_to('Login', login_path) %></li>
				<% end %>
				
				<li>
					<button type="button" class="btn btn-primary btn-lg calbutton" data-toggle="modal" data-target="#schedule">
					    <span class="glyphicon glyphicon-calendar"></span>
					</button>
				</li>
			</ul><!-- nav -->
			
			<ul class='nav navbar-nav navbar-right'>
				<li><%= render "components/quicksearch" %></li>
			</ul><!-- .navbar-right -->
		</div>
	</div>
</nav><!-- navbar -->
