<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.each do |attr, msg| %>
        <% if @user.errors[attr].first == msg %>
          <%="<li>#{attr.capitalize} #{msg} </li>".html_safe %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:alert] %>  
  <div class="notice"><%= flash[:alert] %></div>
<% end %>
<% if current_user == @user %>
  <%= form_for @user, class: "form-group" do |f| %>
    <p>
      <%= f.label :first_name, "First Name: " %><br>
      <%= f.text_field :first_name, class: "form-control" %>
    </p>

    <p>
      <%= f.label :last_name, "Last Name: " %><br>
      <%= f.text_field :last_name, class: "form-control" %>
    </p>

    <!--  Will be used to caculate travel times in scheduling system.-->
    <p>
      <%= f.label :address, "Address: " %><br>
      <%= f.text_field :address, class: "form-control" %>
    </p>

    <!-- Will be used to check course history against major requirements-->
    <p>
      <%= f.label :major, "Major: " %><br>
      <%= f.text_field :major, class: "form-control" %>
    </p>
    <p>
      <%= f.submit "Update", class: "btn btn-default" %>
    </p>
  <% end %>

<% else %>
  <script type="text/javascript">
    window.location.href="/" 
  </script>
<% end %>

