<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.each do |attr, msg| %>
        <% if @user.errors[attr].first == msg %>
          <%="<li>#{attr.capitalize} #{msg} </li>".html_safe %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:alert] %>  
  <div class="notice"><%= flash[:alert] %></div>
<% end %>
<% if current_user == @user %>
  <%= form_for @user do |f| %>
    <p>
      <%= f.label :first_name, "First Name: " %><br>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name, "Last Name: " %><br>
      <%= f.text_field :last_name %>
    </p>

    <!--  Will be used to caculate travel times in scheduling system.-->
    <p>
      <%= f.label :address, "Address: " %><br>
      <%= f.text_field :address %>
    </p>

    <!-- Will be used to check course history against major requirements-->
    <p>
      <%= f.label :major, "Major: " %><br>
      <%= f.text_field :major %>
    </p>
    <p>
			<%= f.label :past_courses, "Past Courses: " %><br>
      <% @user.past_courses.each do |p| %>
				<%= f.text_field :past_courses, :multiple => true, :value => p %><br>
      <% end %>
			<%= f.text_field :past_courses, :multiple => true, :value => "" %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

<% else %>
  <script type="text/javascript">
    window.location.href="/" 
  </script>
<% end %>

