<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.each do |attr, msg| %>
        <% if @user.errors[attr].first == msg %>
          <%="<li>#{attr.capitalize} #{msg} </li>".html_safe %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, class: "form-group" do |f| %>

  <p>
    <%= f.label :username, "Username: " %><br>
    <%= f.text_field :username, class: "form-control"  %>
  </p>

  <p>
    <%= f.label :password, "Password: " %><br>
    <%= f.password_field :password, class: "form-control" %>
  </p>

  <p>
    <%= f.label :password_confirmation, "Confirmation: " %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </p>

  <p>
    <%= f.submit "Sign Up", class: "btn btn-default" %>
  </p>

<% end %>
