<% if logged_in? && current_user.past_courses.include?("#{department} #{coursenum}" )%>
	<% if !current_page?(past_list_path(current_user.username)) %>
		<td>
			<%= form_for current_user do |f| %>
				<% current_user.past_courses.each do |p| %>
					<% if p != "#{department} #{coursenum}" %>
						<%= f.hidden_field :past_courses, :multiple => true, :value => p %>
					<% end %>
				<% end %>
				<% if current_user.past_courses.size() == 1 %> <!-- Array will now be empty -->
					<%= f.hidden_field :past_courses, :multiple => true, :value => "" %>
				<% end %>
				<strong>You have already taken this course</strong>
				<div class = "past_course_button"><%= f.submit "Remove from Past Courses" %></div>
			<% end %>
		</td>
	<% else %>
		<%= form_for current_user do |f| %>
			<% current_user.past_courses.each do |p| %>
				<% if p != "#{department} #{coursenum}" %>
					<%= f.hidden_field :past_courses, :multiple => true, :value => p %>
				<% end %>
			<% end %>
			<% if current_user.past_courses.size() == 1 %> <!-- Array will now be empty -->
				<%= f.hidden_field :past_courses, :multiple => true, :value => "" %>
			<% end %>
			<div class = "past_course_button"><%= f.submit "Remove from Past Courses" %></div>
		<% end %>
	<% end %>
<% elsif logged_in? %>
	<%= form_for current_user do |f| %>
		<% if current_user.past_courses != [] %>
			<% current_user.past_courses.each_with_index do |p,i| %>
				<% if i==0 %>
					<%= f.hidden_field :past_courses, :multiple => true, :value => "#{department} #{coursenum}" %>
				<% end %>
				<% if current_user.past_courses != [""] %>
					<%= f.hidden_field :past_courses, :multiple => true, :value => p %>
				<% end %>
			<% end %>
		<% else %>
			<%= f.hidden_field :past_courses, :multiple => true, :value => "#{department} #{coursenum}" %>
		<% end %>
		<td>
			<div class = "past_course_button"><%= f.submit 'Add to Past Courses' %></div>
		</td>
	<% end %>
<% end %>