<% c_to_add = "#{year} #{semester} #{department} #{course_num} #{section} #{type}" %> <!-- used often here -->
<% cur_url = request.original_url %>
<% if logged_in? && !current_user.current_courses.include?("#{c_to_add}" ) && section[0] != "G"%>
	<% if current_user.current_courses[0] != "" %> 
		<% for i in 0..10 %>
			<% response = HTTParty.get("http://www.sfu.ca/bin/wcm/course-outlines?#{c_to_add.split(" ")[0..4].join("/")}") %> <!-- Will be used to check time conflicts -->
			<% if response.count != 1 %>
				<% break %>
			<% end %>
		<% end %>
		<% instruct_f = response["instructor"][0]["commonName"] %>
		<% instruct_l = response["instructor"][0]["lastName"] %>
		<% st_times = Array.new(response["courseSchedule"].count) %>
		<% end_times = Array.new(response["courseSchedule"].count) %>
		<% ldays = Array.new(response["courseSchedule"].count) %>
		<% samend_times = false %> <!-- Used to check if course has time conflicts -->
		<% conflicted = Array.new(current_user.current_courses.count) %> <!-- Could have multiple conflicts -->
		<% con_num = 0 %> 
		<% response["courseSchedule"].each_with_index do |c,i| %> <!-- Can have multiple lecture times -->
			<% st_times[i] = c["startTime"].split(":")[0].to_i %>
			<% end_times[i] = c["endTime"].split(":")[0].to_i %>
			<% ldays[i] = c["days"].split(", ") %>
		<% end %>
		
		<% current_user.current_courses.each do |c| %>
			<% same_day = false %> <!-- Reset for every course just incase multiple are in the way -->
			<% c_course = c.split(" ") %>
			<% for i in 0..10 %>
				<% response = HTTParty.get ("http://www.sfu.ca/bin/wcm/course-outlines?#{c_course[0]}/#{c_course[1]}/#{c_course[2]}/#{c_course[3]}/#{c_course[4]}") %>
				<% if response.count != 1 %>
					<% break %>
				<% end %>
			<% end %>
			<% response["courseSchedule"].each_with_index do |ct, i| %>
				<% ct["days"].split(", ").each do |day| %>
					<% ldays.each_with_index do |lday, j| %>
						<% if lday.include?(day) %>
							<% same_day = true %>
							<% l_day_in = j %>
						<% end %>
					<% end %>
				<% end %>
				<% if same_day %>
					<% ct_st_times = ct["startTime"].split(":")[0].to_i %>
					<% ct_end_times = ct["endTime"].split(":")[0].to_i %>
					<% ct_diff = ct_end_times - ct_st_times %>
					<% st_times.each_with_index do |time,k| %>
						<% if ct_st_times.between?(time,end_times[k]-1) || ct_end_times.between?(time+1, end_times[k]) %>
							<% samend_times = true %>
							<% conflicted[con_num] = c %>
							<% con_num +=1 %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	<% if !samend_times %>		
		<%= form_for current_user do |f| %>
			<% if current_user.current_courses != [] %>
				<% current_user.current_courses.each_with_index do |c,i| %>
					<% if i==0 %>
						<%= f.hidden_field :current_courses, :multiple => true, :value => "#{c_to_add}" %>
					<% end %>
					<% if current_user.current_courses != [""] %>
						<%= f.hidden_field :current_courses, :multiple => true, :value => c %>
					<% end %>
				<% end %>
			<% else %>
				<%= f.hidden_field :current_courses, :multiple => true, :value => "#{c_to_add}" %>
			<% end %>
			<td>
				<div class = "current_course_button"><%= f.submit "Add to cart"%></div>
			</td>
			<% if section[2..3]=="00" && (!(cur_url).include? "course") %>
				<td>
					<% test = Net::HTTP.get(URI.parse("http://www.ratemyprofessors.com/search.jsp?queryoption=HEADER&queryBy=teacherName&schoolName=Simon+Fraser+University&schoolID=&query=#{instruct_f}+#{instruct_l}&_action_search=Search")) %>
					<% res = test.split('<li class="listing PROFESSOR">')[1].split('"')[1] %>
					<% testing = Net::HTTP.get(URI.parse("http://www.ratemyprofessors.com#{res}")) %>
					<%= grade = testing.split('<div class="grade">')[1][0..2] %>
				</td>
			<% end %>
		<% end %>
	<% else %>
		<td>
			<strong>
				<% conflicted.each_with_index do |con, i| %>
					<% if i == 0 %>
						<td>
						<%= "This course has a time conflict with #{con.split(" ")[2..4].join(" ")} " %>
						<% if con_num == 1 %> <!-- Offer to replace course -->
							<%= form_for current_user do |f| %>
								<% current_user.current_courses.each do |p| %>
									<% if p == "#{con}" %>
										<%= f.hidden_field :current_courses, :multiple => true, :value => c_to_add %>
									<% else %>
										<%= f.hidden_field :current_courses, :multiple => true, :value => p %>
									<% end %>
								<% end %>
								<% if current_user.current_courses.size() == 1 %> <!-- Array will now be empty -->
									<%= f.hidden_field :current_courses, :multiple => true, :value => "" %>
								<% end %>
								
									<div class = "current_course_button">
										<%= f.submit "Replace with #{c_to_add.split(" ")[2..4].join(" ")}" %>
									</div>
								</td>
								<% if section[2..3]=="00" && (!(cur_url).include? "course") %>
									<td>
										<% test = Net::HTTP.get(URI.parse("http://www.ratemyprofessors.com/search.jsp?queryoption=HEADER&queryBy=teacherName&schoolName=Simon+Fraser+University&schoolID=&query=#{instruct_f}+#{instruct_l}&_action_search=Search")) %>
										<% res = test.split('<li class="listing PROFESSOR">')[1].split('"')[1] %>
										<% testing = Net::HTTP.get(URI.parse("http://www.ratemyprofessors.com#{res}")) %>
										<%= grade = testing.split('<div class="grade">')[1][0..2] %>
									</td>
								<% end %>
							<% end %>
						<% end %>
					<% elsif con_num > i %>
						<%= "and #{con.split(" ")[2..4].join(" ")} " %>
					<% else %> <!-- Already printed all conflicts -->
						<% break %>
					<% end %>
				<% end %>
			</strong>	
		</td>
	<% end %>
<% elsif logged_in? && section[0] != "G" %>
	
	<%= form_for current_user do |f| %>
		<% current_user.current_courses.each do |p| %>
			<% if p != "#{c_to_add}" %>
				<%= f.hidden_field :current_courses, :multiple => true, :value => p %>
			<% end %>
		<% end %>
		<% if current_user.current_courses.size() == 1 %> <!-- Array will now be empty -->
			<%= f.hidden_field :current_courses, :multiple => true, :value => "" %>
		<% end %>
		<td>
			<div class = "current_course_button"><%= f.submit "Remove from Cart" %></div>
		</td>
	<% end %>
<% end %>