<!DOCTYPE html>
<html>
<head>
  <title>Skeggie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table class = 'navbar'>
	<tr>
    <% if logged_in? %>
      <td><%= link_to('Home', home_path) %></td>
      <td><%= link_to('Search', search_path) %></td>
      <td><%= link_to('Schedule', schedule_path) %></td>
    <td><%= link_to('Profile', profile_path(current_user.id)) %></td>
    <td><%= link_to('Log out', logout_path, method: :delete) %></td>
    <% else %>
      <td><%= link_to('Home', home_path) %></td>
      <td><%= link_to('Search', search_path) %></td>
      <td><%= link_to('Login', login_path) %></td>
    <% end %>
    
    
	</tr>

</table>
<%= yield %>

</body>
</html>
