<!DOCTYPE html>
<html>
<head>
  <title>Skeggie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<section class="container-fluid">
		<div class="content row">
			<section class="main col-lg-12">
        <%= render "components/header" %>
			</section><!-- main -->
		</div><!-- content -->
		<section class="container">
		  <%= yield %>
		</section>
	</section><!-- container -->


</body>
</html>
